{% extends "base.html" %}
{% block title %}
    数据查询
{% endblock %}
{% block path %}
    <a href = "{% url 'home'%}">当前位置&nbsp;:&nbsp;首页&nbsp;</a>»&nbsp;关于我
{% endblock %}
{% block content %}
	
  <div class="archive">
     <div class="archive">
         
         <section id="find" class="widget widget_search">
                <form  method="post"  >
                    <input value="" name="wangzhi" class="s query" placeholder="请输入基金网址" type="text">
                    <button type="submit" class="search-submit" name="jijin"><span style="font-size:20px" class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    
                    <div class="clearfix"></div>
                </form>
                


                
         </section>
         <section id="find" class="widget widget_search">
                <form  method="post"  >
                    <input value="" name="wangzhi" class="s query" placeholder="请输入拉勾网地址" type="text">
                    <button type="submit" class="search-submit" name="Lagou"><span style="font-size:20px" class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    
                    <div class="clearfix"></div>
                </form>

         </section>
         
       


     </div>
  </div>
	


         

	
{% endblock %}

{% block side %}
	 {% include "blog/_side.html" %}
{% endblock %}


