{% extends "base.html" %}
{% block title %}
    查询结果
{% endblock %}
{% block path %}
    <a href = "{% url 'home'%}">当前位置&nbsp;:&nbsp;首页&nbsp;</a>»&nbsp;关于我
{% endblock %}
{% block content %}
	
<div class="archive">
     <div class="archive">
         
         
         {% for key,value in a1.items %}
         <p>{{key}}:{{value}}</p>
         {% endfor %}
        
    </div>
     <div class="archive">
         
         
         {% for key,value in a2.items %}
         <p>{{key}}:{{value}}</p>
         {% endfor %}
        
    </div>
         <div class="archive">
         
         
         {% for key,value in a3.items %}
         <p>{{key}}:{{value}}</p>
         {% endfor %}
        
    </div>
    </div>
         <div class="archive">
         
         
         {% for key,value in a4.items %}
         <p>{{key}}:{{value}}</p>
         {% endfor %}
        
    </div>
    </div>
         <div class="archive">
         
         
         {% for key,value in a5.items %}
         <p>{{key}}:{{value}}</p>
         {% endfor %}
        
    </div>
    </div>
         <div class="archive">
         
         
         {% for key,value in a6.items %}
         <p>{{key}}:{{value}}</p>
         {% endfor %}
        
    </div>
    </div>
         <div class="archive">
         
         
         {% for key,value in a7.items %}
         <p>{{key}}:{{value}}</p>
         {% endfor %}
        
    </div>
    </div>
         <div class="archive">
         
         
         {% for key,value in a8.items %}
         <p>{{key}}:{{value}}</p>
         {% endfor %}
        
    </div>
    </div>
         <div class="archive">
         
         
         {% for key,value in a9.items %}
         <p>{{key}}:{{value}}</p>
         {% endfor %}
        
    </div>
    </div>
         <div class="archive">
         
         
         {% for key,value in a10.items %}
         <p>{{key}}:{{value}}</p>
         {% endfor %}
        
    </div>
    </div>
         <div class="archive">
         
         
         {% for key,value in a11.items %}
         <p>{{key}}:{{value}}</p>
         {% endfor %}
        
    </div>
    </div>
         <div class="archive">
         
         
         {% for key,value in a12.items %}
         <p>{{key}}:{{value}}</p>
         {% endfor %}
        
    </div>
    </div>
         <div class="archive">
         
         
         {% for key,value in a13.items %}
         <p>{{key}}:{{value}}</p>
         {% endfor %}
        
    </div>
    </div>
         <div class="archive">
         
         
         {% for key,value in a14.items %}
         <p>{{key}}:{{value}}</p>
         {% endfor %}
        
    </div>
    </div>
         <div class="archive">
         
         
         {% for key,value in a15.items %}
         <p>{{key}}:{{value}}</p>
         {% endfor %}
        
    </div>

</div>


         

	
{% endblock %}

{% block side %}
	 {% include "blog/_side.html" %}
{% endblock %}


